<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "io.passphrase"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>passphrase.io</name>

  <description>
      zero knowledge privacy online notepad
  </description>

  <author href="https://passphrase.io" email="routman@protonmail.com">
      Daniel Routman
  </author>

</widget>
